html {
    margin: 0;
    background-color: #111122;
    color: white;
}

body {
    margin: 0px 25%;
    font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Nav Section */

#navBar {
    overflow: hidden;
    margin-bottom: 10px;
}

#navBar li {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}

.left {
    float: left;
    padding: 18px 0px 0px 0px;
    font-size: 1.3rem;
}

.right {
    float: right;
}

.right li {
    padding: 18px 0px 0px 20px;
}

.aboutHeader {
    text-align: center;
  }
  
  .circles-background {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 0px;
    left: 210px;
    width: 240px;
    height: 240px;
    background: radial-gradient( #1d1e3a,  #111122);
    z-index: -3;
  }
  
  .circle2 {
    top: 30px;
    right: 80px;
    width: 220px;
    height: 220px;
    background: linear-gradient(to top, #4b4e6d, #111122);
    z-index: -2;
  }
  
  .circle3 {
    top: 10px;
    left: 60px;
    width: 160px;
    height: 160px;
    background: linear-gradient(to bottom, #4b4e6d,  #111122);
    z-index: -1;
  }
  
  .circles-background h2 {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.6em;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
    margin: 0;
    padding: 50px 0px;
  }
  
/* About Section */

.aboutSection {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

#handGesture {
    margin-left: 4px;
    margin-bottom: -4px;
}

.aboutHeader {
    letter-spacing: 3px;
    line-height: 2rem;
}

.aboutHeader h2 {
    line-height: 2.2rem;
}

.aboutContent,
.contactContent {
    letter-spacing: 3px;
    line-height: 1.7rem;
    margin-bottom: 30px;
}

#resumeImage {
    margin-left: 20px;
    border-radius: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 0px;
}

#imageContainer {
    display: flex;
    flex-direction: column;
  }
  
#logoContainer {
    display: flex;
    gap: 30px;
    padding-left: 15px;
  }

  #linkedinLogo,
  #githubLogo {
    padding: 12px 0px 0px 0px;
  }
  
/* Project Gallery */

#galleryContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#galleryContainer h2,
.contactContainer h1 {
  margin-bottom: 0px;
  line-height: 1.7rem;
  letter-spacing: 2px;
}

#galleryContainer img {
  width: 100%;
  transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  border-radius: 6px;
}

#galleryContainer img:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.galleryText {
  margin-left: 30px;
  line-height: 1.7rem;
  letter-spacing: 2px;
}

.galleryText,
.galleryImage {
  flex-basis: 50%;
}

.galleryImage img {
  width: 100%;
  height: auto;
}

.galleryTextTitle{
  font-size: larger;
}

/* Contact Section */

#contactContainer {
  margin: 4rem 60px;
  text-align: center;
}

#contactContainer h1 {
  margin-bottom: 2rem;
}

#contactContainer img {
  margin-left: 10px;
}

.contactBtn {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid white;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  border-radius: 3px;
}

.contactBtn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background-color: #111122;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;
}

.contactBtn:hover:before {
  left: 95%;
}

